*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* spinners */
.spinnner{
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: gray;
}

.Form-btn{
  width: 50px !important;
  margin-top:30px  !important;
}